<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link
            th:rel="stylesheet"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "
    />
    <link
            rel="stylesheet"
            type="text/css"
            media="all"
            th:href="@{/css/font-awesome.min.css}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            media="all"
            th:href="@{/css/tempstyle.css}"
    />
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<section>
<div class = "row">
    <div class="col-6 coffee_mug_background">
        <div class="logo_left mt-3 pt-4 ms-5 pl-5">
            <h2 class="logo" style="color: Black">
                SinDevJobs <span class="logo_com">.com</span>
            </h2>
        </div>
    </div>
</div>
</section>
</body>
</html>